@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Sen&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --color1: '#000000';
  --color2: '#FFFFFF';
}
/* elements */
#load{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text{
  margin: .5rem;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size:3rem;
  font-weight: 800;
}
#author{
  font-family: 'Sen', sans-serif;
  font-size: 2.5rem;
}
#tweet-quote{
  border:  .2rem solid black;
  border-radius: 60%;
}
#new-quote{
  display: flex;
  flex-basis: auto;
  height:100%;
  text-align: center;
  justify-content: center;
  padding: .5rem;
  font-size: 2.3rem;
  font-family: 'Sen', sans-serif;
  color: white;
  background-color: black;
  border-radius: 1rem;
  box-shadow: -.1rem -.1rem .5rem inset white;
}
#new-quote:hover{
  opacity: .8;
  color:white;
}
/*
.fader{
  transition: color 1s linear 1s;
}
.fader.fadedOut {
  color: --color2;
} */
.direction-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border:  .3rem solid black;
  border-radius: 50%;
}
.direction-button i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.9rem;
  height: 3.9rem;
  border:  .4rem solid black;
  border-radius: 50%;
}
.direction-button i:hover{
  opacity: .8;
  box-shadow: 1rem 1rem 1rem 1rem inset white;
}
/*containers*/
#buttons{
  display:flex;
  flex-basis: 100%;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  margin: .5rem;
}
#socials{
  display: flex;
  align-self: start;
  align-items: flex-start;
  flex-basis: 100%;
  margin-top: -1.5rem;
  padding: 0 0 .5rem .5rem;
}
#page{
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quote-box{
  flex-basis: 55rem;
  background-color: rgba(245, 245, 245, 1);
  border-radius: rem;
  box-shadow: .1rem .1rem 1rem 1rem rgba(245, 245, 245, 0.9),
              .3rem .3rem 2rem 1rem rgba(245, 245, 245, 0.6),
              .5rem .5rem 3rem 1rem rgba(245, 245, 245, 0.5),
              .7rem .7rem 4rem 1rem rgba(245, 245, 245, 0.4),
              .9rem .9rem 5rem 1rem rgba(245, 245, 245, 0.3),
              1.1rem 1.1rem 6rem 1rem rgba(245, 245, 245, 0.2),
              1.3rem 1.3rem 7rem 1rem rgba(245, 245, 245, 0.1),
              1.5rem 1.5rem 8rem 2rem rgba(245, 245, 245, 1);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
